/*---------------------------------*/
/*   BASIC */
/*----------------------------------*/


*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #FFF; /*for background color*/
	color: #555;/* for text color*/
	font-family: 'Lato','Arial',sans-serif;
	font-weight: 300;
 	font-size: 20px;
	text-rendering: optimizeLegibility; /*for rendering font in perfect way*/

}


/*---------------------------------*/
/*   REUSABLE COMPONENTS */
/*----------------------------------*/

.row{
	max-width: 1140px;
	margin: 0 auto; /* THIS IS FOR CENTRE ALIGNMENT for top,bottom and left,right margins ; we can also use 0 auto 0 auto*/ 
}

h1{
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 250%; /*for relativity*/
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;


}
/* btn:link isa pseudo class 
we do this because linked visited changes color but here  we don't want that*/

/*  BUTTONS*/
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	border-radius: 200px;
	text-decoration: none; /*to remove underline*/
	transition: background-color 0.2s,border 0.2s, color 0.2s ;
} 


.btn-full:link,
.btn-full:visited{
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited
{
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:hover,
.btn:active{
	background-color: #cf6d17;

}

.btn-full:hover,
.btn-full:active{
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active
{
	border: 1px solid #cf6d17;
	color: #fff;
}


/*---------------------------------*/
/*   REUSABLE COMPONENTS */
/*----------------------------------*/


header{

	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}   

.hero-text-box{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* for central alignment of text header*/
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;

}
.main-nav{
	float: right;
	list-style: none;
	margin-top: 55px;

}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:ative {
	border-bottom: 2px solid #e67e22;
}
/*This from other site*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/*body {
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;

}*/
/*header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}   

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}
*/
/*From other site starts here*/

/*.row{
	max-width: 1140px;
	margin: 0 auto; 
}*/
.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}
/*.main-nav{
	float: right;
	list-style: none;
	margin-top: 55px;
}
.main-nav li{
	display: inline-block;
	margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:ative {
	border-bottom: 2px solid #e67e22;
}

*/
/*From other site ends here*/


span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.row1{
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container {

	display: block;
	padding:20px;
	background-color: #fff;
	border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			    0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	position: relative;
	/*position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	*/

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.social1:hover{
	color: #FF4B2B;
}
.social2:hover{
	color: blue;
}
.social3:hover{
	color: red;
}

/*footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}*/
/*this ends here*/